(
  resources: {},
  entities: {
    0: (
      components: {
        "juice_box::simulation::SimParticle": (
          position: (
            x: 10.0,
            y: 10.0,
          ),
          velocity: (
            x: 0.0,
            y: 0.0,
          ),
        ),
      },
    ),
  },
)